@model IEnumerable<ProductViewModel>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Lista de Produtos</h3>
                    <div style="text-align:right; margin-top: 10px">
                        <a asp-controller="Product" asp-action="Create" class="btn btn-success"> Novo Cadastro</a>
                    </div>
                </div>
            </div>
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="d-none">
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplierId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PurchaseValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SaleValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProfitMargin)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Stock)
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="d-none">
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SupplierViewModel.CorporateName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryViewModel.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PurchaseValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SaleValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProfitMargin)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Stock)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>